#reviewModal {
    width: 400px;
}

#reviewModalText {
    border: solid 2px black;
    border-radius: 5px;
    height: 150px;
    padding: 5px;
    resize: none;
    width: 90%;
}

#starsContainer {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.rating-input {
    display: flex;
    flex-direction: row;
}

.rating-input .filled {
    color: rgb(247, 187, 36);
}

.rating-input .empty {
  color: burlywood;
}
