button {
    cursor: pointer;
}

.linkButton {
    color: black;
    text-decoration: none;
}

#addListing {
    box-sizing: content-box;
    display: flex;
    margin: 20px;
}

.usersManageButtons{
    display: flex;
    justify-content: center;
}

.updateButton {
    margin: 0 10px;
    width: fit-content;
}
