.imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 250px;
    max-height: 500px;
}

#bigSpotImgContainer {
    border: 1px solid white;
    max-height: 500px;
    }

#bigSpotImg {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.spotImageGrid {
    border: solid white 1px;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    max-height: 500px;
}

.smallImageDiv {
    display: flex;
    box-sizing: border-box;
    margin: 2px;
    max-width: 100%;
    max-height: 245px;
}

.smallImages {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#spotTextContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.reservationContainer {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 20px;
}

.priceReviews {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.price {
    display: inline-flex;
    margin: 5px;
    margin-block-start: 0
}

.ratings {
    margin-top: 12px;
}

.avgRating {
    margin-left: 5px;
}

.dotDivider {
    position: relative;
    bottom: 4px;
}

.bigButton {
    background-color: rgb(0, 128, 96);
    color: white;
    cursor: pointer;
    height: 50px;
    margin: 10px 5%;
    width: 90%;
}

.spotReviews {
    border-top: solid white 2px;
    margin-top: 20px;
}
