.spotContainer {
    border: 2px;
    border-color: white;
    display: grid;
    grid: auto-flow / repeat(4, 1fr);
    margin: 10px;
}

.spots {
    margin: 10px;
}

.spotPreviewImg {
    border: solid white 1px;
    height: 225px;
}

.cityRatings {
    display: flex;
    justify-content: space-between;
}

.fa-star {
    margin-right: 5px;
}

.spotTile {
    color: white;
    text-decoration: none;
    visibility: visible;
}

.tooltip-text {
    visibility: hidden;
    background-color: gray;
    border-radius: 5px;
    color: rgb(22, 21, 21);
    text-align: center;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
