#profileButton{
    margin-top: 5px;
}

.userEmail {
    margin-bottom: 10px;
}

.profile-dropdown {
    display: flex;
}

.userDropDown {
    justify-content: end;
}

#manageButton {
    color: white;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    padding: 5px;
    text-decoration: none;
}

.logoutButton {
    margin-top: 10px;
}
